**Importing Packages & Loading Data**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
visit = pd.read_csv('/content/VisitorLogsData.csv')
user = pd.read_csv('/content/userTable.csv')

 '**Dropping NA values from UserID**'

In [3]:
df = visit.copy()
df.drop(['Browser', 'City', 'Country'], axis = 1, inplace =True) # these features aren't important
df.dropna(subset=['UserID'], inplace=True)
#df.sort_values(['UserID', 'VisitDateTime'], inplace=True)

#df.reset_index(inplace=True)

 **Converting object type features to Upper case**

In [4]:
df['ProductID']= df['ProductID'].str.upper()
df['OS'] = df['OS'].str.upper()
df['Activity'] = df['Activity'].str.upper()

**Converting into single datetime format. i.e Unix value to standard datetime format**

In [5]:
df1 = df.copy()

In [6]:
s,d = df1.shape
print(s)

323789

In [7]:
df1['VisitDateTime'] = df1['VisitDateTime'].replace(np.nan,'NAN')

In [8]:
df1.reset_index(inplace=True)

In [9]:
from numpy import nan
Time = []
for i in range(0, s):
  if ' ' in df1['VisitDateTime'][i]:
    Time.append(pd.to_datetime(df1['VisitDateTime'][i]))
  elif df1['VisitDateTime'][i] == 'NAN':
    Time.append(nan)
    continue
  else:
    Time.append(pd.to_datetime(int(df1['VisitDateTime'][i])))
    #print('else')

In [10]:
df1['Time'] = Time

In [11]:
df1.head(5)

   index     webClientID  ...         OS                    Time
0     14  WI100000112772  ...    ANDROID 2018-05-15 06:48:15.249
1     21    WI1000009977  ...    ANDROID 2018-05-23 07:02:01.790
2     23  WI100000223826  ...    WINDOWS 2018-05-10 06:28:53.391
3     24   WI10000021998  ...    WINDOWS 2018-05-08 12:40:02.153
4     33   WI10000036281  ...  CHROME OS 2018-05-11 15:35:43.689

[5 rows x 8 columns]

**Calculating last 7 day visit, by the User**

In [12]:
df1.sort_values(['UserID', 'VisitDateTime', 'webClientID'], inplace= True)
df1.reset_index(inplace=True)
df1.drop(['level_0', 'index'], inplace=True, axis = 1)
df1['Time'] = np.where(df1['Time'].notnull(), df1['Time'], df1['Time'].ffill().bfill())
day7 = max(df1['Time']) - pd.to_timedelta(7, unit = 'd') 
no_of_visit_in_7 = df1[df1['Time']>=day7]
visited_in_7_days = no_of_visit_in_7.groupby('UserID')['Time'].nunique()

**Number of Product viewed in last 15 days**

In [13]:
day15 = max(df1['Time']) - pd.to_timedelta(15, unit = 'd')
no_of_visit_in_15 = df1[df1['Time']>=day15] 
no_of_visit_in_15 = pd.DataFrame(no_of_visit_in_15.groupby('UserID')['ProductID'].count())
no_of_visit_in_15.rename(columns={'ProductID': 'no_of_visit_in_15 days'}, inplace=True)

**Calculating Vintage from Signup Date**

In [14]:
user['Signup Date'] = user['Signup Date'].apply(lambda x : x.split(' ')[0])
user['Signup Date'] = pd.to_datetime(user['Signup Date'])
max_time = max(df1['Time'])
user['vin'] = user['Signup Date'].apply(lambda x : max_time - x)
user['vin'] = user['vin'].apply(lambda x : x.days) 
vintage_in_days = user[['UserID', 'vin']]

**Most used product in last 15 days. If multiple product have similar pageload then choose the latest one. if no product viewed in 15 days put Product101**

In [15]:
df1['day_t_f'] = df1['Time']>=day15
a = df1[df1['day_t_f'] == True]
b = df1[df1['day_t_f'] == False]
b['ProductID'] = 'Product101'
c = a.append(b)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [16]:
product_in_15_days = c.groupby('UserID')['ProductID'].\
                                              agg([('ProductID','value_counts')])
l1 = len(product_in_15_days)
for i in range(0,10):
  u = pd.DataFrame(product_in_15_days.index.get_level_values(0))
  p = pd.DataFrame(product_in_15_days.index.get_level_values(1))
u['prod'] = p

**Most frequent OS used by User**

In [35]:
df1['OS'] = df1['OS'].ffill().bfill()
most = df1.groupby(['UserID','OS'])['OS'].count()
most_freq_os = pd.DataFrame(most.index.get_level_values(0))
most_freq_os['OS'] = most.index.get_level_values(1)

**Pageload & Click count, in last 7 days, by the User**

In [36]:
page = df1[df1['Time']>= day7]
page['fill_activity'] = np.where(page['Activity'].notnull(), page['Activity'], page['Activity'].ffill().bfill())
page.drop(['fill_activity'], axis = 1, inplace=True)
pageload_count = page[page['Activity']=='PAGELOAD'].groupby('UserID')['Activity'].count()
click_count = page[page['Activity']=='CLICK'].groupby('UserID')['Activity'].count()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

**Joining all inputs**

In [37]:
df_join = user[['UserID']]
final= df_join\
               .merge(visited_in_7_days, how= 'left', on= 'UserID')\
               .merge(no_of_visit_in_15, how= 'left', on= 'UserID')\
               .merge(vintage_in_days, how= 'left', on= 'UserID')\
               .merge(u, how= 'left', on= 'UserID')\
               .merge(most_freq_os, how= 'left', on= 'UserID')\
               .merge(pageload_count, how= 'left', on= 'UserID')\
               .merge(click_count, how= 'left', on= 'UserID')

In [39]:
final.rename(columns = {'Time':'no_of_visit_in_7days', 'vin':'Vintage', 'prod':'Product', 'Activity_x':'pageload_count in7days', 'Activity_y':'click_count in7days'}, inplace=True)

In [44]:
final['no_of_visit_in_7days'].replace(np.nan, '0', inplace=True)
final['no_of_visit_in_15 days'].replace(np.nan, '0', inplace=True)
final['Product'].replace(np.nan, 'Product101', inplace=True)
final['OS'].replace(np.nan, 'OS not specified', inplace=True)
final['click_count in7days'].replace(np.nan, '0', inplace=True)
final['pageload_count in7days'].replace(np.nan, '0', inplace=True)

In [47]:
final.to_csv('rohit.csv', index=False)